.textArea {
	/*width: 800px;*/
	width: 400px;
	height: 630px;
	font-size: 14px;
	resize: none;
	float: left;
}
#prevReklamaFromDB {
	width: 350px;
	height: 90px;
	font-size: 14px;
	resize: none;
	left: 234px;
	position: relative;
}

#sosediReklam {
	width: 350px;
	height: 90px;
	font-size: 14px;
	resize: none;
	left: 143px;
	position: relative;
}
#foreignVideo {
	width: 25px;
	height: 25px;
	top: 5px;
	right: 15px;
	-webkit-appearance: checkbox;
}
#resultGclidContainer {
	width: 330px;
	height: 180px;
	background: white;
	float: left;
	margin: 5px;
	padding: 10px;
	font-family: monospace;
}
#hardYouTube {
	width: 399px;
	position: relative;
	right: 16px;
}